@charset "UTF-8";
@font-face {
  font-family: SFU Auchon,SFU ClearGothic,Roboto Light,Roboto Medium,Roboto Black;
  src: url("../fonts/SFUAuchonRegular.TTF") format("truetype"), url("../fonts/SFUClearGothicRegularOblique.TTF") format("truetype"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Black.ttf") format("truetype");
}
body {
  background-color: #f1f1f1;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

.header-top {
  background-color: #9f2927;
}
.header-top .logo {
  width: 30%;
  text-align: center;
}
.header-top .logo a img {
  margin: 10px 0px 10px 70px;
}
.header-top .header-tieude h3 {
  font-size: 26px;
  font-family: "SFU Auchon", sans-serif;
  color: #fff568;
  line-height: 1.80;
  text-align: left;
  padding-left: 90px;
  margin-top: 10px;
  margin-bottom: 0;
  word-spacing: 3px;
  text-transform: uppercase;
}
.header-top .header-tieude h4 {
  font-size: 21px;
  font-family: "SFU ClearGothic", sans-serif;
  color: #fff;
  text-align: left;
  padding-left: 150px;
  margin-top: 0px;
}

/* end header top */
.menu {
  background-color: #333333;
}
.menu nav ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0px;
}
.menu nav ul .active a {
  color: #fff568;
  text-decoration: none;
}
.menu nav ul li {
  display: inline;
  margin-left: 40px;
}
.menu nav ul li:first-child {
  margin-left: 0;
}
.menu nav ul li ul {
  display: none;
}
.menu a {
  font-size: 14px;
  font-family: "Roboto Medium";
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 8px 0px;
}
.menu a:hover {
  color: #fff568;
}
.menu a, .menu a:hover {
  -o-transition: color 0.25s ease-in;
  -webkit-transition: color 0.25s ease-in;
  -moz-transition: color 0.25s ease-in;
  transition: color 0.25s ease-in;
}
.menu .giohang {
  width: 90px;
  display: block;
  float: right;
  margin: 5px 100px 5px 0;
  background-color: #9f2927;
}
.menu .giohang a {
  padding: 2px 0;
}
.menu .giohang a span {
  color: #fff;
  padding: 0 7px 0 10px;
  font-family: "Roboto Light";
  font-size: 9.22px;
  line-height: 24px;
}
.menu .giohang a span a img {
  padding: 6px 0 6px 3px;
}
.menu .search {
  background-color: #fff;
  width: 125px;
  display: block;
  float: right;
  margin: 5px 5px 5px 0px;
}
.menu .search button {
  display: inline-block;
  float: left;
  border: 0;
  background-color: #fff;
  padding: 3px 6px 3px 10px;
}
.menu .search input[type="text"] {
  display: inline-block;
  float: left;
  width: 90px;
  padding: 7px 0;
  border: 0;
  font-size: 9px;
  font-size: 9.22px;
  font-family: "Roboto Light";
  color: #858585;
}

/* end menu */
.slider .carousel-indicators {
  top: 103%;
}
.slider .carousel-indicators li {
  border: 1px solid #c0c0c0;
  background-color: #c0c0c0;
}
.slider .carousel-indicators .active {
  border: 1px solid red;
  background-color: #fff;
}
.slider .carousel-indicators li:active {
  border: 1px solid #ed1c24;
  background: #fff;
}
.slider .carousel-control .glyphicon-chevron-left, .slider .carousel-control .glyphicon-chevron-right, .slider .carousel-control .icon-next, .slider .carousel-control .icon-prev {
  display: none;
}

/* end slider */
.main {
  /* end banner */
  /* end watch */
  /* end menu nav */
  /* end gi├í tß╗æt */
}
.main .banner {
  margin-top: 50px;
}
.main .banner img {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 83px;
}
.main .banner h3 {
  font-size: 20px;
  font-family: "Roboto Black";
  color: white;
  text-transform: uppercase;
}
.main .banner h4 {
  font-size: 16px;
  font-family: "Roboto";
  color: white;
}
.main .banner .banner-xem button {
  float: right;
  width: 75px;
  height: 41px;
  border: 0;
  color: #fff;
  margin-top: 20px;
}
.main .banner .van-chuyen {
  background-color: #9f2927;
  width: 390px;
  margin-right: 15px;
}
.main .banner .van-chuyen .banner-xem button {
  background-color: #722626;
}
.main .banner .thanh-toan {
  background-color: #333333;
  width: 390px;
  margin-right: 15px;
}
.main .banner .thanh-toan .banner-xem button {
  background-color: #1b1b1b;
}
.main .banner .tra-hang {
  background-color: #f7941d;
  width: 390px;
}
.main .banner .tra-hang .banner-xem button {
  background-color: #aa7535;
}
.main .style-watch {
  background-color: #fff;
  margin-top: 20px;
}
.main .style-watch .style-watch-menu {
  background-color: #3a3a3a;
  margin-top: 20px;
}
.main .style-watch .style-watch-menu ul {
  padding-left: 0px;
  margin: 0;
  list-style-type: none;
}
.main .style-watch .style-watch-menu ul li {
  display: inline;
  margin-left: 35px;
}
.main .style-watch .style-watch-menu ul li img {
  padding: 10px 5px 10px 0px;
}
.main .style-watch .style-watch-menu ul li a {
  font-size: 14px;
  font-family: "Roboto Medium";
  color: white;
  text-transform: uppercase;
}
.main .style-watch .style-watch-menu ul .active a {
  color: #fff568;
  text-decoration: none;
}
.main .style-watch .style-watch-menu ul li:first-child {
  margin-left: 0;
}
.main .style-watch .style-watch-content {
  margin-top: 5px;
  margin-bottom: 10px;
}
.main .style-watch .style-watch-content .style-watch-content-img {
  width: 20%;
  display: block;
  float: left;
  padding: 0 10px 10px;
  overflow: hidden;
}
.main .style-watch .style-watch-content .style-watch-content-img img {
  width: 100%;
  height: auto;
}
.main .style-watch .style-watch-content .style-watch-content-img:last-child {
  margin-right: 0px;
}
.main .menu-nav {
  background-color: #fff;
  margin: 15px 0;
}
.main .menu-nav h2 {
  font-size: 18px;
  font-family: "Roboto Medium";
  color: #333333;
  text-transform: uppercase;
  line-height: 1.111;
  text-align: left;
  padding-left: 15px;
}
.main .menu-nav nav ul {
  list-style-type: none;
  float: right;
  margin: 0;
  line-height: 49px;
}
.main .menu-nav nav ul li {
  display: inline;
}
.main .menu-nav nav ul li a {
  font-size: 14px;
  font-family: "Roboto Medium";
  color: #333333;
  text-transform: uppercase;
  text-align: left;
  text-decoration: none;
  border-right: 1px solid #b2b2b2;
  padding: 0 20px;
}
.main .menu-nav nav ul li .border-right {
  border-right: 0;
  padding-right: 5px;
}
.main .menu-nav nav ul .active a {
  color: #8e2e2e;
}
.main .gia-tot {
  /* end gi├í tß╗æt left */
  /* end gi├í tß╗æt right */
}
.main .gia-tot .gia-tot-left {
  float: left;
  width: 240px;
  height: 320px;
  border-width: 1px;
  background: url("../image/background-giatot.jpg");
  border-color: #ebebeb;
  border-style: solid;
  /* background-image: -moz-radial-gradient( 50% 50%, circle closest-side, rgb(230,27,36) 0%, rgb(11,11,11) 100%);
  background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, rgb(230,27,36) 0%, rgb(11,11,11) 100%);
  background-image: -ms-radial-gradient( 50% 50%, circle closest-side, rgb(230,27,36) 0%, rgb(11,11,11) 100%); */
}
.main .gia-tot .gia-tot-left h4 {
  font-size: 13px;
  font-family: "Roboto Medium";
  color: #fff568;
  text-transform: uppercase;
  margin: 50px 0 35px 0;
  padding-left: 40px;
  position: relative;
}
.main .gia-tot .gia-tot-left h4 span {
  font-size: 39.55px;
  font-family: "Roboto";
  color: #fff568;
  font-weight: bold;
  padding-left: 5px;
  line-height: 30px;
  position: absolute;
  top: -50%;
}
.main .gia-tot .gia-tot-left a img {
  padding-left: 15px;
}
.main .gia-tot .gia-tot-left .mua-ngay {
  display: block;
  color: #fff;
  border-radius: 0;
  border: 1px solid #fff;
  padding: 10px 15px;
  width: 85px;
  height: 35px;
  font-size: 10px;
  text-decoration: none;
  font-family: "Roboto Medium";
  text-transform: uppercase;
  margin: 25px 75px 25px 80px;
}
.main .gia-tot .gia-tot-right {
  width: 955px;
  height: 320px;
  margin-left: 5px;
  background-color: #fff;
  float: left;
}
.main .gia-tot .gia-tot-right .prev-item {
  width: 40px;
  height: 320px;
  float: left;
  position: relative;
}
.main .gia-tot .gia-tot-right .prev-item a img {
  position: absolute;
  left: 35%;
  top: 45%;
  cursor: pointer;
}
.main .gia-tot .gia-tot-right .owl-carousel {
  width: 875px;
  height: 320px;
  float: left;
}
.main .gia-tot .gia-tot-right .owl-carousel .item {
  width: 218px;
  height: 320px;
  float: left;
}
.main .gia-tot .gia-tot-right .owl-carousel .item .item-image {
  position: relative;
  width: 195px;
  height: 240px;
  padding: 10px 25px;
}
.main .gia-tot .gia-tot-right .owl-carousel .item .item-image a img {
  width: 100%;
  height: auto;
}
.main .gia-tot .gia-tot-right .owl-carousel .item .item-image .sale {
  display: none;
  font-size: 13px;
  font-family: "Roboto Medium";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ed1c24;
  color: #fff;
  padding: 2px 10px;
}
.main .gia-tot .gia-tot-right .owl-carousel .item .item-image:hover {
  border: 1px solid #ebebeb;
}
.main .gia-tot .gia-tot-right .owl-carousel .item .item-image:hover .sale {
  display: block;
}
.main .gia-tot .gia-tot-right .owl-carousel .item a {
  text-decoration: none;
  width: 100%;
}
.main .gia-tot .gia-tot-right .owl-carousel .item a h4 {
  font-size: 13px;
  font-family: "Roboto";
  color: #333333;
}
.main .gia-tot .gia-tot-right .owl-carousel .item p {
  margin: 0;
}
.main .gia-tot .gia-tot-right .owl-carousel .item .gia {
  font-size: 14px;
  font-family: "Roboto Medium";
  color: #ed1c24;
}
.main .gia-tot .gia-tot-right .owl-carousel .item .gia-del {
  font-size: 13px;
  font-family: "Roboto Medium";
  color: #333333;
}
.main .gia-tot .gia-tot-right .next-item {
  width: 40px;
  height: 320px;
  float: left;
  position: relative;
}
.main .gia-tot .gia-tot-right .next-item a img {
  position: absolute;
  left: 35%;
  top: 45%;
  cursor: pointer;
}
.main .dong-ho {
  background-color: #fff;
}
.main .dong-ho .prev-item {
  width: 40px;
  height: 320px;
  float: left;
  position: relative;
}
.main .dong-ho .prev-item a img {
  position: absolute;
  left: 35%;
  top: 45%;
  cursor: pointer;
}
.main .dong-ho .owl-carousel {
  width: 1120px;
  height: 320px;
  float: left;
}
.main .dong-ho .owl-carousel .item {
  width: 218px;
  height: 320px;
  float: left;
}
.main .dong-ho .owl-carousel .item .item-image {
  position: relative;
  width: 195px;
  height: 240px;
  padding: 10px 25px;
}
.main .dong-ho .owl-carousel .item .item-image a img {
  width: 100%;
  height: auto;
}
.main .dong-ho .owl-carousel .item .item-image .sale {
  display: none;
  font-size: 13px;
  font-family: "Roboto Medium";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ed1c24;
  color: #fff;
  padding: 2px 10px;
}
.main .dong-ho .owl-carousel .item .item-image:hover {
  border: 1px solid #ebebeb;
}
.main .dong-ho .owl-carousel .item .item-image:hover .sale {
  display: block;
}
.main .dong-ho .owl-carousel .item a {
  text-decoration: none;
  width: 100%;
}
.main .dong-ho .owl-carousel .item a h4 {
  font-size: 13px;
  font-family: "Roboto";
  color: #333333;
}
.main .dong-ho .owl-carousel .item p {
  margin: 0;
}
.main .dong-ho .owl-carousel .item .gia {
  font-size: 14px;
  font-family: "Roboto Medium";
  color: #ed1c24;
}
.main .dong-ho .owl-carousel .item .gia-del {
  font-size: 13px;
  font-family: "Roboto Medium";
  color: #333333;
}
.main .dong-ho .next-item {
  width: 40px;
  height: 320px;
  float: left;
  position: relative;
}
.main .dong-ho .next-item a img {
  position: absolute;
  left: 35%;
  top: 45%;
  cursor: pointer;
}
.main .bo-suu-tap {
  margin-top: 20px;
}
.main .bo-suu-tap .image-top {
  width: 840px;
  height: 250px;
}
.main .bo-suu-tap .image-top img {
  width: 840px;
  height: 250px;
}
.main .bo-suu-tap .image-left {
  width: 500px;
  height: 535px;
  margin-right: 40px;
}
.main .bo-suu-tap .image-left img {
  width: 500px;
  height: 535px;
}
.main .bo-suu-tap .image-right {
  width: 300px;
  height: 250px;
}
.main .bo-suu-tap .image-right img {
  width: 300px;
  height: 250px;
}
.main .bo-suu-tap .image-ngoai {
  width: 315px;
  height: 535px;
}
.main .bo-suu-tap .image-ngoai img {
  width: 315px;
  height: 535px;
}
.main .bo-suu-tap .m-buttom {
  margin-bottom: 30px;
}

/*# sourceMappingURL=mystyle.css.map */
